*{
    margin: 0;
    padding: 0;
}

body {

    background-image: url(https://zupimages.net/up/21/47/bc03.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

#showcase .button {
    width: 200px;
    height: 60px;
    font-size: 1.3rem;
    font-family: arial, sans-serif;
    font-weight: 700;
    position: relative;
    color: white;
    z-index: 0;
    background: none;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

#showcase .button::before{
    content: '';
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    border: #926239 1px solid;
    background: #892cdc;
    border-radius: 50% 50% 0% 0%;
    z-index: -1;
    transition: all .5s;
}
#showcase .button:hover::before {
    top: 0px;
    border-radius: 0;
  }