*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    color: chocolate;
    line-height: 1.6;
}

#showcase{
    background-image: url(https://images.pexels.com/photos/1640773/pexels-photo-1640773.jpeg?cs=srgb&dl=pexels-ella-olsson-1640773.jpg&fm=jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

#showcase h1{
    font-size: 50px;
}
#showcase h2{
    font-size: 15px;
}
#showcase p{
    font-size: 20px;
}
#showcase .button {
    font-size: 18px;
    text-decoration: darkred;
    color: #926239;
    border: #926239 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}
#showcase .button:hover{
    background: #926239;
    color: #fff;
}